div{
    border:1px solid black;
    text-align:center;
    margin :20px;
    margin-top:0px;
}

#BoxMargin{    
    border:1px gray dashed;
}

#BoxBorder{
    
    background-color:yellow;
}

#BoxPadding{
    
    background-color:white;
}

#BoxContent{
    padding-bottom:150px;
    border:1px gray dashed;
}